<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<table th:border="1" th:width="500" th:high="300" bg th:color="red">
  <caption><h2>Users list</h2></caption>
  <br />
  <br />
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Last Name</th>
    <th>Email</th>
<!--    <th>Operations</th>-->
<!--    <th>Edit</th>-->
<!--    <th>Delete</th>-->
  </tr>
  <tr th:each="user : ${allUsers}">

    <td th:utext="${user.id}">
    <td th:utext="${user.name}">
    <td th:utext="${user.surname}">
    <td th:utext="${user.email}">
<!--    <td><a href="<c:url value='/edit/${user.getId()}'/>">Edit</a></td>-->
<!--    <td><a href="<c:url value='/remove/${user.getId()}'/>">Delete</a></td>-->
  </tr>
</table>

<br>

<!--<input type="button" value="Add"-->
<!--       onclick="window.location.href = 'addNewUser'"/>-->

<form method="post" action="/addNewUser">

  <label for="name">Name</label>
  <input name="name" type="text" id="name"/>

  <br>

  <label for="surname">Last Name</label>
  <input name="surname" type="text" id="surname"/>

  <br>

  <label for="email">Email</label>
  <input name="email" type="text" id="email"/>

  <br>

  <input type="submit" value="Add User">

</form>

<br>
<br>

<form action="/findUsersById" method="get">

  <label for="name">Get user by ID</label>
  <input type="text" name="id"
         placeholder="Write user ID"/>
  <input type="submit" value="Найти Usera"/>
</form>
<br>
<br>
<!--<form th:method="POST" th:action="@{/}" th:object="${user}">-->
<!--  <label for="name">Enter name: </label>-->
<!--  <input type="text" th:fiel="${name}" id="name"-->
<!--         placeholder="Write user name"/>-->
<!--  <input type="submit" value="Создать"/>-->
<!--</form>-->
<!--<br>-->

<!--<form th:method="PATCH" th:action="@{/{id}{id=${user.getId()})}" th:object="{user}">-->
<!--  <label for="name">Enter Name</label>-->
<!--  <input type="text" th:field="*{name1}" id="name"/>-->
<!--  <br>-->
<!--  <label for="name">Enter Surname</label>-->
<!--  <input type="text" th:field="*{surname1}" id="surname"/>-->
<!--  <br>-->
<!--  <label for="name">Enter Email</label>-->
<!--  <input type="text" th:field="*{email1}" id="email"/>-->
<!--  <br>-->
<!--  <input type="submit" value="Update">-->
<!--</form>-->


<a href="/">Home page</a>

</body>
</html>