<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/edit{id}{id=${user.getID()})}" th:object="{user}">
    <label for="name">Enter Name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="name">Enter Surname</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br>
    <label for="name">Enter Email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <input type="submit" value="Update">
</form>

<br>
<br>

</body>
</html>